<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.2.8-rc" targetFramework="net462" />
  <package id="AWSSDK.DynamoDBv2" version="3.2.8-rc" targetFramework="net462" />
  <package id="FakeItEasy" version="2.3.1" targetFramework="net462" />
  <package id="NUnit" version="3.5.0" targetFramework="net462" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net462" />
</packages>